## Get Data from the following link:

http://files.grouplens.org/datasets/movielens/ml-20m.zip

#### We will be using the following files for this exercise:
ratings.csv : userId,movieId,rating, timestamp
tags.csv : userId,movieId, tag, timestamp
movies.csv : movieId, title, genres

#### 1. Read the dataset using pandas.

In [1]:
import pandas as pd                                                 # Importing the  pandas and os packages
import os

In [5]:
! wget http://files.grouplens.org/datasets/movielens/ml-20m.zip    # To retrieve the zip file from website
! unzip ml-20m.zip                                                 # Unzipng the zip file

'wget' is not recognized as an internal or external command,
operable program or batch file.
'unzip' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
ratings = pd.read_csv('C:\\Users\\Arpitha\\Documents\\Lerning_Material\\Assignments\\Pandas 2\\Additional Exercise 6.1\\ml-20m\\ratings.csv', sep=',')          # Reading the three CSV files (rating, tags, movies)

In [10]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [8]:
tags = pd.read_csv('C:\\Users\\Arpitha\\Documents\\Lerning_Material\\Assignments\\Pandas 2\\Additional Exercise 6.1\\ml-20m\\tags.csv', sep=',')
`

In [12]:
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [9]:
movies = pd.read_csv('C:\\Users\\Arpitha\\Documents\\Lerning_Material\\Assignments\\Pandas 2\\Additional Exercise 6.1\\ml-20m\\movies.csv', sep=',')

In [14]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

#### 2. Extract the first row from tags and print its type.

In [15]:
firstrow=tags.iloc[0]              # extracting the first row based upon index value
print("Type is: ",type(firstrow))     #  Displaying the type of first row
firstrow

Type is:  <class 'pandas.core.series.Series'>

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

#### 3. Extract row 0, 11, 2000 from tags DataFrame.

In [16]:
tags.iloc[[0,11,2000]]      # Extracting the rows basedup on index values

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

#### 4. Print index, columns of the DataFrame.

In [17]:
# for Tags Data Frame
print("Index for Tags data frame  : ",tags.index)           # Extracting the Index information of tags
print("Columns for Tags data frame: ",tags.columns)         # Extracting the columns information of tags

Index for Tags data frame  :  RangeIndex(start=0, stop=465564, step=1)
Columns for Tags data frame:  Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [18]:
# for Tags Data Frame
print("Index for Ratings data frame  : ",ratings.index)     # Extracting the Index information of ratings
print("Columns for Ratings data frame: ",ratings.columns)   # Extracting the column information of ratings

Index for Ratings data frame  :  RangeIndex(start=0, stop=20000263, step=1)
Columns for Ratings data frame:  Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [20]:
# for Tags Data Frame
print("Index for Movies data frame  : ",movies.index)       # Extracting the Index information of Movies
print("Columns for Movies data frame: ",movies.columns)     # Extracting the column information of Movies

Index for Movies data frame  :  RangeIndex(start=0, stop=27278, step=1)
Columns for Movies data frame:  Index(['movieId', 'title', 'genres'], dtype='object')

### 5. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [23]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [37]:
#count
ratings["rating"].count()

20000263

In [36]:
#Mean 
ratings["rating"].mean()

3.5255285642993797

In [35]:
#Standard Deviation '
ratings["rating"].std()

1.051988919275684

In [34]:
#minmum
ratings["rating"].min()

0.5

In [30]:
#25 Percentile
ratings["rating"].quantile(0.25)

3.0

In [31]:
#50 Percentile
ratings["rating"].quantile(0.50)

3.5

In [32]:
#75 Percentile
ratings["rating"].quantile(0.75)

4.0

In [33]:
#maximum 
ratings["rating"].max()

5.0

In [29]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [25]:
ratings.describe()

             userId       movieId        rating     timestamp
count  2.000026e+07  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00  1.100918e+09
std    4.003863e+04  1.978948e+04  1.051989e+00  1.621694e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    3.439500e+04  9.020000e+02  3.000000e+00  9.667977e+08
50%    6.914100e+04  2.167000e+03  3.500000e+00  1.103556e+09
75%    1.036370e+05  4.770000e+03  4.000000e+00  1.225642e+09
max    1.384930e+05  1.312620e+05  5.000000e+00  1.427784e+09

### 6. Filter out ratings with rating > 5

In [39]:
ratings[ratings["rating"]>5]                         # Filtering the data based up on rating >5 condition

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

### 7. Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

In [40]:
print("nulls values information in ratings")
ratingNulls=ratings.isna().sum()                             # Calculating the null values in each column of rating dataframe
print(ratingNulls)

print("\nnulls values information in tags")
tagsNulls=tags.isna().sum()                                 # Calculating the null values in each column of tags dataframe
print(tagsNulls)
tagsshapeb4=tags.shape
print("\nnulls values information in movies")
moviesNulls=movies.isna().sum()                             # Calculating the null values in each column of Movies dataframe
print(moviesNulls)

print("number of null values in ratings are ",ratingNulls.sum())  # Dsiplaying the total count of null values in rating dataframe
print("number of null values in tags are ",tagsNulls.sum())       # Dsiplaying the total count of null values in tags dataframe
print("number of null values in movies are ",moviesNulls.sum())   # Dsiplaying the total count of null values in movies dataframe

tags = tags.dropna()                                        # Dropping the null values present in the tags
tagsshapebaftr=tags.shape
print("number of rows modified in tags are ",int(tagsshapeb4[0])-int(tagsshapebaftr[0]))     # Numebr of rows modified in the tags dataframe

nulls values information in ratings
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

nulls values information in tags
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

nulls values information in movies
movieId    0
title      0
genres     0
dtype: int64
number of null values in ratings are  0
number of null values in tags are  16
number of null values in movies are  0
number of rows modified in tags are  16

#### 8. Filter out movies from the movies DataFrame that are of type 'Animation'.

### 9. Find the average rating of movies.

#### 10. Perform an inner join of movies and tags based on movieId.

#### 11. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

#### 12. Split 'genres' into multiple columns.

#### 13. Extract year from title e.g. (1995).

#### 14. Select rows based on timestamps later than 2015-02-01.

#### 15. Sort the tags DataFrame based on timestamp.