## Get Data from the following link:

http://files.grouplens.org/datasets/movielens/ml-20m.zip

#### We will be using the following files for this exercise:
ratings.csv : userId,movieId,rating, timestamp
tags.csv : userId,movieId, tag, timestamp
movies.csv : movieId, title, genres

#### 1. Read the dataset using pandas.

In [1]:
import pandas as pd                                                 # Importing the  pandas and os packages
import os

In [2]:
! wget http://files.grouplens.org/datasets/movielens/ml-20m.zip    # To retrieve the zip file from website
! unzip ml-20m.zip                                                 # Unzipng the zip file

'wget' is not recognized as an internal or external command,
operable program or batch file.
'unzip' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
ratings = pd.read_csv('./ml-20m/ratings.csv', sep=',',parse_dates=['timestamp'])
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [ ]:
#ratings = pd.read_csv('C:\\Users\\Arpitha\\Documents\\Lerning_Material\\Assignments\\Pandas 2\\Additional Exercise 6.1\\ml-20m\\ratings.csv', sep=',')          # Reading the three CSV files (rating, tags, movies)

In [4]:
tags = pd.read_csv('./ml-20m/tags.csv', sep=',',parse_dates=['timestamp'])
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [ ]:
#tags = pd.read_csv('C:\\Users\\Arpitha\\Documents\\Lerning_Material\\Assignments\\Pandas 2\\Additional Exercise 6.1\\ml-20m\\tags.csv', sep=',')
`

In [5]:
movies = pd.read_csv('./ml-20m/movies.csv', sep=',')

movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
#movies = pd.read_csv('C:\\Users\\Arpitha\\Documents\\Lerning_Material\\Assignments\\Pandas 2\\Additional Exercise 6.1\\ml-20m\\movies.csv', sep=',')

#### 2. Extract the first row from tags and print its type.

In [6]:
firstrow=tags.iloc[0]              # extracting the first row based upon index value
print("Type is: ",type(firstrow))     #  Displaying the type of first row
firstrow

Type is:  <class 'pandas.core.series.Series'>

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

#### 3. Extract row 0, 11, 2000 from tags DataFrame.

In [7]:
tags.iloc[[0,11,2000]]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

#### 4. Print index, columns of the DataFrame.

In [8]:
# for Tags Data Frame
print("Index for Tags data frame  : ",tags.index)           
print("Columns for Tags data frame: ",tags.columns)

Index for Tags data frame  :  RangeIndex(start=0, stop=465564, step=1)
Columns for Tags data frame:  Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [9]:
# for ratings Data Frame
print("Index for Ratings data frame  : ",ratings.index)     
print("Columns for Ratings data frame: ",ratings.columns)

Index for Ratings data frame  :  RangeIndex(start=0, stop=20000263, step=1)
Columns for Ratings data frame:  Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [10]:
# for movies Data Frame
print("Index for Movies data frame  : ",movies.index)      
print("Columns for Movies data frame: ",movies.columns)

Index for Movies data frame  :  RangeIndex(start=0, stop=27278, step=1)
Columns for Movies data frame:  Index(['movieId', 'title', 'genres'], dtype='object')

### 5. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [11]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [14]:
#count
print("Count")
ratings["rating"].count()

Count

20000263

In [15]:
#Mean 
print("Mean :")
ratings["rating"].mean()

Mean :

3.5255285642993797

In [16]:
#Standard Deviation '
print("Standar Deviation")
ratings["rating"].std()

Standar Deviation

1.051988919275684

In [17]:
#minmum
print("Minimum")
ratings["rating"].min()

Minimum

0.5

In [18]:
#25 Percentile
print("25 Percentile")
ratings["rating"].quantile(0.25)

25 Percentile

3.0

In [19]:
#50 Percentile
print("50 Percentile")
ratings["rating"].quantile(0.50)

50 Percentile

3.5

In [20]:
#75 Percentile
print("75 Percentile")
ratings["rating"].quantile(0.75)

75 Percentile

4.0

In [ ]:
#maximum 
ratings["rating"].max()

In [21]:
#describe the rating for comarison
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [22]:
ratings.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

### 6. Filter out ratings with rating > 5

In [23]:
ratings[ratings["rating"]>5]                         # Filtering the data based up on rating >5 condition

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

### 7. Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

In [24]:
print("null values information in ratings")
ratingNulls=ratings.isna().sum()                             # Calculating the null values in each column of rating dataframe
print(ratingNulls)
print("number of null values in ratings are ",ratingNulls.sum())

null values information in ratings
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64
number of null values in ratings are  0

In [25]:
print("null values information in tags")
tagsNulls=tags.isna().sum()                                 # Calculating the null values in each column of tags dataframe
print(tagsNulls)
tagsshapeb4=tags.shape
print("number of null values in tags are ",tagsNulls.sum())

null values information in tags
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64
number of null values in tags are  16

In [26]:
print("nulls values information in movies")
moviesNulls=movies.isna().sum()                             # Calculating the null values in each column of Movies dataframe
print(moviesNulls)
print("number of null values in movies are ",moviesNulls.sum())

nulls values information in movies
movieId    0
title      0
genres     0
dtype: int64
number of null values in movies are  0

In [27]:
tags = tags.dropna()                                        # Dropping the null values present in the tags
tagsshapebaftr=tags.shape
print("number of rows modified in tags are ",int(tagsshapeb4[0])-int(tagsshapebaftr[0]))     # Numebr of rows modified in the tags dataframe

number of rows modified in tags are  16

#### 8. Filter out movies from the movies DataFrame that are of type 'Animation'.

In [28]:
# Filtering the movies based up on Animation 
Animation=movies[movies["genres"].str.contains('Animation',case = False)]
movieTitles = Animation["title"]                  # Storing the movie titles into movieTitles
movieTitles=movieTitles.reset_index(drop=True)      # Reseting the index
movieTitles=pd.DataFrame(movieTitles)               # Converting into dataframe
movieTitles

                                                  title
0                                      Toy Story (1995)
1                                          Balto (1995)
2                                     Pocahontas (1995)
3                                 Goofy Movie, A (1995)
4                               Gumby: The Movie (1995)
5                             Swan Princess, The (1994)
6                                 Lion King, The (1994)
7            Secret Adventures of Tom Thumb, The (1993)
8                Nightmare Before Christmas, The (1993)
9                                Pagemaster, The (1994)
10                                       Aladdin (1992)
11               Snow White and the Seven Dwarfs (1937)
12                          Beauty and the Beast (1991)
13                                     Pinocchio (1940)
14                                   Heavy Metal (1981)
15                               Aristocats, The (1970)
16                       All Dogs Go to Heaven 2 (1996)
17                     James and the Giant Peach (1996)
18                                     Space Jam (1996)
19                              Oliver & Company (1988)
20    Wallace & Gromit: The Best of Aardman Animatio...
21           Ghost in the Shell (Kôkaku kidôtai) (1995)
22               Wallace & Gromit: A Close Shave (1995)
23                  Hunchback of Notre Dame, The (1996)
24    Land Before Time III: The Time of the Great Gi...
25                                    Cinderella (1950)
26          Winnie the Pooh and the Blustery Day (1968)
27                         Three Caballeros, The (1945)
28                       Sword in the Stone, The (1963)
29                                         Dumbo (1941)
...                                                 ...
997                               Animals United (2011)
998               Tom and Jerry: The Lost Dragon (2014)
999      Mardock Scramble: The Second Combustion (2011)
1000                        Stand by Me Doraemon (2014)
1001                                Frozen Fever (2015)
1002                                  The Mascot (1934)
1003          Cardcaptor Sakura: The Sealed Card (2000)
1004  Berserk: The Golden Age Arc 2 - The Battle for...
1005  Berserk: The Golden Age Arc - The Egg of the K...
1006     Berserk: The Golden Age Arc 3 - Descent (2013)
1007                   The Amazing Screw-On Head (2006)
1008                                        Home (2015)
1009       The Brave Little Toaster Goes to Mars (1998)
1010  The Garden of Sinners - Chapter 5: Paradox Par...
1011                          Santa's Apprentice (2010)
1012                         Ronal the Barbarian (2011)
1013             Cinderella III: A Twist in Time (2007)
1014  The Little Polar Bear: Lars and the Little Tig...
1015  Mickey, Donald, Goofy: The Three Musketeers (2...
1016   Rudolph the Red-Nosed Reindeer: The Movie (1998)
1017                                Saving Santa (2013)
1018       Lucky Luke: The Ballad of the Daltons (1978)
1019                  Casper's Haunted Christmas (2000)
1020                             Superstar Goofy (1991)
1021            Tom and Jerry: A Nutcracker Tale (2007)
1022                Kleines Arschloch - Der Film (1997)
1023                Werner - Das muss kesseln!!! (1996)
1024                      Werner - Volles Rooäää (1999)
1025                Werner - Gekotzt wird später (2003)
1026                              Brother Bear 2 (2006)

[1027 rows x 1 columns]

### 9. Find the average rating of movies.

In [29]:
avg = ratings.groupby('movieId').mean()           
ratingCol=avg["rating"]                            
avgMovies=pd.DataFrame(ratingCol)                  
avgMovies.sort_values("rating",ascending=False)

         rating
movieId
95517       5.0
105846      5.0
89133       5.0
105187      5.0
105191      5.0
88488       5.0
126945      5.0
105526      5.0
105529      5.0
105841      5.0
126397      5.0
103912      5.0
126219      5.0
106082      5.0
106113      5.0
106115      5.0
125599      5.0
106517      5.0
107252      5.0
86055       5.0
104317      5.0
127256      5.0
122441      5.0
92783       5.0
129478      5.0
129352      5.0
129305      5.0
92956       5.0
129295      5.0
129293      5.0
...         ...
103923      0.5
93583       0.5
59775       0.5
97915       0.5
97847       0.5
129871      0.5
124302      0.5
112782      0.5
112780      0.5
124368      0.5
112778      0.5
112776      0.5
123314      0.5
103769      0.5
85694       0.5
103695      0.5
114093      0.5
98080       0.5
103614      0.5
129456      0.5
93083       0.5
122930      0.5
122595      0.5
103294      0.5
129701      0.5
129784      0.5
92479       0.5
129834      0.5
115631      0.5
119909      0.5

[26744 rows x 1 columns]

#### 10. Perform an inner join of movies and tags based on movieId.

In [30]:
merge=movies.merge(tags, on='movieId', how='inner')   # Performing the inner join on movies and tags basedon movieId
merge

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1644,Watched,1417736680
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,computer animation,1183903155
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Disney animated feature,1183933307
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,Pixar animation,1183934770
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1741,TÃ©a Leoni does not star in this movie,1245093573
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2299,Pixar,1403306852
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,animation,1290312028
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,family,1290312032
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3596,Tom Hanks,1290312036
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6233,Pixar,1387079572
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6233,witty,1387079576
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8219,Pixar,1159534063
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,adventure,1277357423
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,animated,1277357419
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,animation,1277357417
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,clever,1277357438
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,comedy,1277357433
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,computer animation,1277357405
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,family,1277357449
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,fantasy,1277357430
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10616,Tom Hanks,1277357411
21,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,bright,1173304070
22,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,DARING RESCUES,1173304095
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,fanciful,1173304058
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,HEROIC MISSION,1173304102
25,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,humorous,1173304049
26,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,light,1173304062
27,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,rousing,1173304074
28,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,TOYS COME TO LIFE,1173304091
29,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11081,UNLIKELY FRIENDSHIPS,1173304106
...,...,...,...,...,...,...
465518,131015,Hellgate (2011),Horror|Thriller,25978,Cary Elwes,1427585540
465519,131015,Hellgate (2011),Horror|Thriller,25978,Demons,1427585566
465520,131015,Hellgate (2011),Horror|Thriller,25978,Exorcism,1427585551
465521,131015,Hellgate (2011),Horror|Thriller,25978,Ghosts,1427585546
465522,131015,Hellgate (2011),Horror|Thriller,25978,Monks,1427585560
465523,131015,Hellgate (2011),Horror|Thriller,25978,nurse,1427585621
465524,131015,Hellgate (2011),Horror|Thriller,25978,psychic,1427585613
465525,131015,Hellgate (2011),Horror|Thriller,25978,slow,1427585575
465526,131015,Hellgate (2011),Horror|Thriller,25978,special effects,1427585690
465527,131015,Hellgate (2011),Horror|Thriller,25978,surfing,1427585592
465528,131015,Hellgate (2011),Horror|Thriller,25978,Thailand,1427585543
465529,131015,Hellgate (2011),Horror|Thriller,25978,William Hurt,1427585696
465530,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,Barcelona,1427641562
465531,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,exploitation,1427641559
465532,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,female football,1427641577
465533,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,football,1427641548
465534,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,Rome,1427641564
465535,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,shorts,1427641571
465536,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,soccer,1427641556
465537,131031,La liga no es cosa de hombres (1972),(no genres listed),33323,transvestite,1427641589
465538,131054,Dinotopia: Quest for the Ruby Sunstone (2005),Children|Fantasy|Sci-Fi,88144,dinosaurs,1427654430
465539,131082,Playground (2009),(no genres listed),92885,documentary,1427654757
465540,131082,Playground (2009),(no genres listed),92885,Yoshitomo Nara,1427654856
465541,131164,Vietnam in HD (2011),War,54560,Vietnam War,1427667401
465542,131170,Parallels (2015),Sci-Fi,88738,alternate reality,1427732804
465543,131258,The Pirates (2014),Adventure,28906,bandits,1427745421
465544,131258,The Pirates (2014),Adventure,28906,Korea,1427745512
465545,131258,The Pirates (2014),Adventure,28906,mutiny,1427745542
465546,131258,The Pirates (2014),Adventure,28906,pirates,1427745419
465547,131258,The Pirates (2014),Adventure,28906,whale,1427745432

#### 11. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

In [31]:
df_avg = ratings.groupby('movieId').mean()                                   
df_AvgGr4=avg[df_avg["rating"]>4]
df_temp=movies.merge(df_AvgGr4, on='movieId', how='inner')
df_ComedyGr4=df_temp[df_temp["genres"].str.contains('Comedy',case = False)]
df_ComedyGr4.head()

,movieId,title,genres,userId,rating
3,82,Antonia's Line (Antonia) (1995),Comedy|Drama,68604.914894,4.004925
9,232,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance,69455.957398,4.035610
13,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,69236.563780,4.174231
17,356,Forrest Gump (1994),Comedy|Drama|Romance|War,69170.493456,4.029000
23,608,Fargo (1996),Comedy|Crime|Drama|Thriller,69005.939869,4.112359

#### 12. Split 'genres' into multiple columns.

In [32]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [33]:
split_genres = movies['genres'].str.split('|', expand=True)
split_genres.head()

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None

#### 13. Extract year from title e.g. (1995).

In [34]:
movies['year'] = movies['title'].str.extract('.*\((.*)\).*', expand=True)
movies.head(500)

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
5,6,Heat (1995),Action|Crime|Thriller,1995
6,7,Sabrina (1995),Comedy|Romance,1995
7,8,Tom and Huck (1995),Adventure|Children,1995
8,9,Sudden Death (1995),Action,1995
9,10,GoldenEye (1995),Action|Adventure|Thriller,1995
10,11,"American President, The (1995)",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,1995
12,13,Balto (1995),Adventure|Animation|Children,1995
13,14,Nixon (1995),Drama,1995
14,15,Cutthroat Island (1995),Action|Adventure|Romance,1995
15,16,Casino (1995),Crime|Drama,1995
16,17,Sense and Sensibility (1995),Drama|Romance,1995
17,18,Four Rooms (1995),Comedy,1995
18,19,Ace Ventura: When Nature Calls (1995),Comedy,1995
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,1995
20,21,Get Shorty (1995),Comedy|Crime|Thriller,1995
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,1995
22,23,Assassins (1995),Action|Crime|Thriller,1995
23,24,Powder (1995),Drama|Sci-Fi,1995
24,25,Leaving Las Vegas (1995),Drama|Romance,1995
25,26,Othello (1995),Drama,1995
26,27,Now and Then (1995),Children|Drama,1995
27,28,Persuasion (1995),Drama|Romance,1995
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,1995
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,1995
...,...,...,...,...
470,474,In the Line of Fire (1993),Action|Thriller,1993
471,475,In the Name of the Father (1993),Drama,1993
472,476,"Inkwell, The (1994)",Comedy|Drama,1994
473,477,What's Love Got to Do with It? (1993),Drama|Musical,1993
474,478,Jimmy Hollywood (1994),Comedy|Crime|Drama,1994
475,479,Judgment Night (1993),Action|Crime|Thriller,1993
476,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,1993
477,481,Kalifornia (1993),Drama|Thriller,1993
478,482,Killing Zoe (1994),Crime|Drama|Thriller,1994
479,483,King of the Hill (1993),Drama,1993
480,484,Lassie (1994),Adventure|Children,1994
481,485,Last Action Hero (1993),Action|Adventure|Comedy|Fantasy,1993
482,486,Life with Mikey (1993),Comedy,1993
483,487,Lightning Jack (1994),Comedy|Western,1994
484,488,M. Butterfly (1993),Drama|Romance,1993
485,489,Made in America (1993),Comedy,1993
486,490,Malice (1993),Thriller,1993
487,491,"Man Without a Face, The (1993)",Drama,1993
488,492,Manhattan Murder Mystery (1993),Comedy|Mystery,1993
489,493,Menace II Society (1993),Action|Crime|Drama,1993
490,494,Executive Decision (1996),Action|Adventure|Thriller,1996
491,495,In the Realm of the Senses (Ai no corrida) (1976),Drama,1976
492,496,What Happened Was... (1994),Comedy|Drama|Romance|Thriller,1994
493,497,Much Ado About Nothing (1993),Comedy|Romance,1993
494,498,Mr. Jones (1993),Drama|Romance,1993
495,499,Mr. Wonderful (1993),Comedy|Romance,1993
496,500,Mrs. Doubtfire (1993),Comedy|Drama,1993
497,501,Naked (1993),Drama,1993
498,502,"Next Karate Kid, The (1994)",Action|Children|Romance,1994
499,503,"New Age, The (1994)",Drama,1994

#### 14. Select rows based on timestamps later than 2015-02-01.

In [35]:
tags["Date"]=pd.to_datetime(tags['timestamp'], unit='s')
df_timestamps= tags[tags["Date"]>"2015-02-01"]
df_timestamps.head()

     userId  movieId      tag   timestamp                Date
301     318      260    1970s  1424472169 2015-02-20 22:42:49
302     318      260  fantasy  1424472169 2015-02-20 22:42:49
303     318      260   sci-fi  1424472169 2015-02-20 22:42:49
304     318   115149   Action  1424534310 2015-02-21 15:58:30
305     318   115149  Revenge  1424534283 2015-02-21 15:58:03

#### 15. Sort the tags DataFrame based on timestamp.

In [36]:
dfsort=tags.sort_values(by='Date', ascending=False)
dfsort.head()

        userId  movieId            tag   timestamp                Date
339178  102853   115149  russian mafia  1427771352 2015-03-31 03:09:12
158780   46072     6058    premonition  1427760764 2015-03-31 00:12:44
158763   46072     3409    premonition  1427760726 2015-03-31 00:12:06
288375   87797      215         Vienna  1427755801 2015-03-30 22:50:01
290535   88044   106782      profanity  1427754096 2015-03-30 22:21:36